name: Orchestrator

on:
  push:
    branches: [ main, master, devs ]
  pull_request:
    branches: [ main, master ]

jobs:
  web_app_tests:
    uses: ./.github/workflows/playwright.yml@main
    with:
      working-directory: './web-app'